/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/* --------------------------- */

header {
  background: #222222;
  padding-top: 18px;
  padding-bottom: 19px;
  width: 1600px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__wrapper button {
  background: #e8e8e8;
  border: none;
  background: none;
  cursor: pointer;
}

.leftSide {
  display: flex;
  gap: 41px;
}

.rightSide {
  display: flex;
  gap: 33px;
}

.btn-hide__cart {
  position: relative;
}

.qty-cart {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  position: absolute;
  top: -3px;
  right: -8px;
  background: #f16d7f;
  border-radius: 50px;
  padding: 1px 5px 4px 7px;
}

.main-logo {
  display: flex;
  background: #f1e4e6;
  width: 1600px;
  margin: 0 auto;
  position: relative;
}

.menu {
  width: 232px;
  background: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 33px;
}

.hidden {
  display: none;
}

.menu h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-top: 32px;
  padding-bottom: 4px;
}

.menu h4 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  padding-bottom: 12px;
  margin-top: 20px;
}

.menu ul {
  list-style: none;
  padding-left: 21px;
}

.menu ul:last-child {
  margin-bottom: 32px;
}

.menu li {
  margin-bottom: 12px;
}

.menu a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}

.main-logo__rightSide {
  display: flex;
  gap: 16px;
  align-items: center;
}

.main-logo__rightSide button {
  width: 12px;
  height: 92px;
  border: none;
  background: #f16d7f;
}

.main-logo__text h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.main-logo__text h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #222222;
}

.main-logo__text span {
  color: #f16d7f;
  line-height: 45px;
}

.offers {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 65px;
  margin-bottom: 96px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.top__offers {
  min-height: 260px;
  min-width: 360px;
}

.offer_1 {
  background-image: url("./img/offers/background.png"), url("./img/offers/women.png");
}

.offer_2 {
  background-image: url("./img/offers/background.png"), url("./img/offers/men.png");
}

.offer_3 {
  background-image: url("./img/offers/background.png"), url("./img/offers/kids.png");
}

.offer_4 {
  background-image: url("./img/offers/background.png"), url("./img/offers/accesories.png");
  min-height: 180px;
}

.offers__text {
  padding-top: 105px;
}

.offers__text__large {
  padding-top: 65px;
}

.offers h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.offers h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
}

.goods-text {
  margin-bottom: 48px;
}

.goods-text h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
  text-align: center;
}

.goods-text p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  text-align: center;
}

.goods {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.cards {
  background: #f8f8f8;
  margin-bottom: 49px;
}

.img__wrapper {
  position: relative;
}

.add-btn {
  display: flex;
  align-items: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 13px;
  background: none;
  border: 1px solid #ffffff;
  cursor: pointer;
  position: absolute;
  left: 115px;
  top: 180px;
  z-index: -1;
}

.add-btn img {
  margin-right: 13px;
}

.img__wrapper:hover .product-img {
  filter: brightness(30%);
}

.img__wrapper:hover .add-btn {
  z-index: 2;
}

.goods h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-top: 23px;
  margin-bottom: 16px;
  margin-left: 16px;
}

.goods__description {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin-bottom: 16px;
  margin-left: 16px;
  max-width: 315px;
}

.goods__price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  margin-bottom: 20px;
  margin-left: 16px;
}

.button__wrapper {
  margin-bottom: 95px;
  text-align: center;
}

.more-btn {
  border: 1px solid #ff6a6a;
  padding: 15px 39px;
  background: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
}

.more-btn:hover {
  background: #f16d7f;
  color: #ffffff;
}

.benefits {
  background: #222224;
  width: 1600px;
  margin: 0 auto;
}

.benefits__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 103px;
  padding-bottom: 103px;
}

.benefits__benefit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.benefits__benefit h2 {
  padding-top: 28px;
  padding-bottom: 16px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
}

.benefits__benefit p {
  width: 300px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
}

.feedback-subscribe {
  width: 1600px;
  margin: 0 auto;
  background-image: url("./img/feedback/background_layer.png"), url("./img/feedback/background_main.png");
}

.feedback-subscribe__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 448px;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.feedback p {
  margin-bottom: 60px;
  width: 360px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.feedback__span {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe {
  width: 557px;
}

.subscribe h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
}

.subscribe h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
  margin-bottom: 32px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.form-email {
  padding: 7px 64px 6px 22px;
  background: #e1e1e1;
  border: none;
  border-radius: 50px 0 0 50px;
}

.form-email::placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222224;
  opacity: 0.67;
}

.subscribe-form button {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #f16d7f;
  padding: 17px;
  border: none;
  cursor: pointer;
  border-radius: 0 50px 50px 0;
  width: 100px;
  height: 49px;
}

footer {
  background: #222224;
  width: 1600px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__wrapper p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.icons__btn {
  background: #fbfbfb;
  width: 32px;
  height: 32px;
  text-align: center;
  padding-top: 8px;
}

.icons__btn:hover {
  background: #f16d7f;
}

.icons__btn:hover .svg-icon {
  fill: #fbfbfb;
}

@media (max-width: 768px) {
  .container {
    width: 736px;
  }

  header {
    width: 768px;
  }

  .main-logo {
    width: 768px;
  }

  .main-logo img {
    width: 384px;
  }

  .main-logo__text h1 {
    font-size: 44px;
    line-height: 53px;
  }

  .main-logo__text h2 {
    font-size: 24px;
    line-height: 29px;
  }

  .offers {
    gap: 20px;
    margin-bottom: 110px;
  }

  .top__offers {
    min-height: 168px;
    min-width: 231px;
  }

  .offer_4 {
    min-height: 116px;
  }

  .offers__text {
    padding-top: 59px;
  }

  .offers__text__large {
    padding-top: 33px;
  }

  .goods-text {
    margin-bottom: 74px;
  }

  .goods-text h2 {
    margin-bottom: 3px;
  }

  .goods {
    gap: 16px;
  }

  .cards {
    margin-bottom: 20px;
  }

  .goods h3 {
    margin-top: 26px;
    margin-bottom: 13px;
    margin-left: 18px;
  }

  .goods__description {
    margin-bottom: 18px;
    margin-left: 16px;
    width: 315px;
  }

  .goods__price {
    margin-left: 19px;
  }

  .button__wrapper {
    margin-bottom: 65px;
  }

  .benefits {
    width: 768px;
  }

  .benefits__wrapper {
    padding-bottom: 16px;
    padding-top: 48px;
    flex-direction: column;
    align-items: center;
  }

  .benefits__benefit {
    margin-bottom: 48px;
  }

  .feedback-subscribe {
    width: 768px;
    background-size: cover;
  }

  .feedback-subscribe__wrapper {
    flex-direction: column;
    align-items: center;
    padding-top: 54px;
    padding-bottom: 140px;
  }

  .subscribe-form buttom {
    width: 100px;
    height: 49px;
  }

  footer {
    width: 768px;
  }
}

@media (max-width: 375px) {
  .container {
    width: 359px;
  }

  header {
    width: 375px;
  }

  .btn-hide {
    display: none;
  }

  .main-logo {
    width: 375px;
    padding: 148px 0;
    justify-content: center;
  }

  .main-logo img {
    display: none;
  }

  .main-logo__rightSide button {
    height: 61px;
  }

  .main-logo__text h1 {
    font-size: 38px;
    line-height: 46px;
  }

  .main-logo__text h2 {
    font-size: 20px;
    line-height: 24px;
  }

  .main-logo__text span {
    line-height: 24px;
  }
  .offers {
    margin-bottom: 64px;
    gap: 30px;
  }

  .top {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .top__offers {
    min-height: 247px;
    min-width: 343px;
  }

  .down {
    display: flex;
    justify-content: center;
  }

  .offer_4 {
    min-height: 111px;
    width: 343px;
    background-size: cover;
  }

  .offers__text {
    padding-top: 105px;
  }

  .offers__text__large {
    padding-top: 30px;
  }

  .goods-text {
    margin-bottom: 65px;
  }

  .cards {
    margin-bottom: 0;
  }

  .button__wrapper {
    margin-top: 42px;
    margin-bottom: 85px;
  }

  .benefits {
    width: 375px;
  }

  .benefits__benefit {
    margin-bottom: 81px;
  }

  .feedback-subscribe {
    width: 375px;
  }

  .feedback-subscribe__wrapper {
    padding-top: 54px;
    padding-bottom: 110px;
  }

  .feedback p {
    margin-bottom: 60px;
    width: 343px;
    font-size: 18px;
    line-height: 22px;
  }

  .feedback__span {
    font-size: 18px;
    line-height: 22px;
  }

  .subscribe {
    width: 343px;
  }

  .subscribe h2 {
    font-size: 24px;
    line-height: 37px;
  }

  .subscribe h3 {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 22px;
  }

  .form-email {
    padding: 7px 61px 6px 21px;
  }

  .subscribe-form buttom {
    width: 96px;
    height: 47px;
  }

  footer {
    width: 375px;
    padding-top: 43px;
    padding-bottom: 9px;
  }

  .footer__wrapper {
    flex-direction: column-reverse;
  }

  .footer__wrapper p {
    margin-top: 40px;
  }
}
